name: test

on:
  push:
    branches:
      - 'master'
      - 'develop'
  pull_request:
    types: [opened, synchronize]
    branches:
      - 'master'
      - 'develop'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: docker-compose
        run: |
          docker-compose -f docker-compose.ci.yml up -d
      - name: setup-php
        run: |
          docker-compose exec -T php cp .env.example .env
          docker-compose exec -T php php artisan key:generate
          docker-compose exec -T php touch database/database.sqlite
      - name: test-php
        run: docker-compose exec -T php php artisan test
      - name: test-client
        run: docker-compose exec -T node yarn test
